.recherche {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

body {
    font: small arial, sans-serif;
    margin: 0;
    min-width: 360px;
    min-height: 100%;
}

.input {}

header,
ul,
li {
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
}

.image_google {
    background-color: white;
    justify-content: center;
    align-content: center;
    height: 100px;
    width: 300;
}

#input_recherche {
    margin-top: 20px;
    height: 30px;
    width: 500px;
}

#logo {
    margin-bottom: cebter;
}

.input_submit {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
}

.input_submit {
    display: flex;
    flex-direction: row;
}

footer {
    display: flex;
    align-items: flex-end;
}